body {
  background-color: #f65a52;
  color: #333;
  font-size: 1rem; 
}

.poke-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 75, 68);
  margin-top: 3rem;
}

.button {
  font-family: inherit;
  padding: 1em 2.5em;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  background-color: #cc4b44;
  color: #fff;
  cursor: pointer;
  transition: 0.35s;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #000;
  color: #f65a52;
}

.poke-intro-trainer {
  position: relative;
  margin-bottom: 1rem;
  height: 12.5rem;
  width: 12.5rem;
}

.poke-trainer-img {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 12.5rem;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.poke-trainer-img.active {
  transform: translateX(-50%);
  opacity: 1;
}

.poke-trainer-img-classic {
  bottom: 0.3rem;
  height: 11rem;
  image-rendering: pixelated;
  transform: translateX(-80%);
}

.poke-trainer-img-master {
  transform: translateX(-20%);
}

.poke-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 9.3rem;
  width: 9.3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #cc4b44 50%, #ffffff 50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 0.3rem solid #000;
}

.poke-ball::before,
.poke-ball::after {
  content: '';
  position: absolute;
}

.poke-ball::before {
  z-index: 2;
  top: 50%;
  left: 50%;
  height: 2.8rem; 
  width: 2.8rem;
  border-radius: 50%;
  background-color: #fff;
  border: .3rem solid #000;
  transform: translate(-50%, -50%);
}

.poke-ball::after {
  z-index: 1;
  top: 50%;
  left: 0;
  height: .3rem; 
  width: 100%;
  background-color: #000;
  transform: translateY(-50%);
}

@media only screen and (min-width: 1000px) {
  .poke-section {
    margin-top: 6rem;
    padding: 0 1rem;
  }

  .button {
    font-size: .9rem;
    padding: 1rem 2rem;
    width: 20%;
  }


}
